In [53]:
# Import libraries
import pandas as pd

In [54]:
# Import csv file
single_family_housing = "Zip_Zhvi_SingleFamilyResidence.csv"

# Create dataframe from csv
sfh_df = pd.read_csv(single_family_housing)
sfh_df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2009-01,2009-02,2009-03,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,1553689.0,1526876.0,1518443.0,...,1365272,1364535,1357186,1354644,1343961,1336894,1333066,1334392,1343701,1351552
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,808608.0,800968.0,791874.0,...,967517,966429,967322,967450,967003,966057,965021,963959,964246,966092
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,NaN,NaN,NaN,...,1506127,1494778,1481698,1470185,1461983,1457776,1454757,1454081,1460325,1465530
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,258171.0,258591.0,259182.0,...,335155,335051,335418,335480,335596,335547,335395,335309,334819,334762
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1111184.0,1097752.0,1087805.0,...,1201189,1200418,1201438,1201133,1199177,1197266,1194983,1193391,1193661,1196524

In [55]:
# Rename "RegionName" column to "Zip Code"
sfh_df.rename(columns={"RegionName":"Zip Code"}, inplace=True)

# Drop useless columns
clean_df_1 = sfh_df.drop(sfh_df.iloc[:, 7:103], axis=1)
clean_df_2 = clean_df_1.drop(clean_df_1.iloc[:, 19:60], axis=1)
clean_df_2.head()

,RegionID,Zip Code,City,State,Metro,CountyName,SizeRank,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,1476509.0,1476630.0,1479410.0,1478879.0,1481672.0,1476174.0,1482127.0,1483230.0,1494017.0,1486270.0,1479032.0,1461584.0
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,948850.0,943920.0,947429.0,950081.0,951676.0,950563.0,948773.0,950302.0,953132.0,952897.0,950087.0,950589.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,1630033.0,1608263.0,1591918.0,1583357.0,1581908.0,1579167.0,1581337.0,1585707.0,1589950.0,1579912.0,1568794.0,1554248.0
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,329980.0,330687.0,331548.0,331712.0,330742.0,330434.0,330664.0,330748.0,330532.0,330509.0,330513.0,331409.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1170197.0,1168909.0,1176444.0,1182024.0,1186085.0,1186644.0,1184674.0,1186064.0,1190520.0,1193080.0,1193256.0,1196558.0

In [56]:
# Pull out the Florida housing prices only
fl_sfh_df = clean_df_2.loc[sfh_df["State"] == "FL"]
fl_sfh_df.head()

In [57]:
# Save dataframe to new csv file
fl_sfh_df.to_csv("florida_zhi_value.csv")