In [14]:
# Import libraries
import pandas as pd
from sqlalchemy import create_engine

In [15]:
# Import csv file
single_family_housing = "florida_zhi_value.csv"

# Create dataframe from csv
sfh_df = pd.read_csv(single_family_housing)
sfh_df.head()

,zip_code,city,state,metro,county,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2017_zhvi_avg,2017_zhvi_max,2017_zhvi_min
0,32162,The Villages,FL,The Villages,Sumter County,251016.0,251302.0,252109.0,253407.0,253594.0,253418.0,253282.0,253486.0,253995.0,254522.0,255039,255790,253413.3333,255790,251016
1,33160,Sunny Isles Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,931701.0,929177.0,924739.0,919894.0,917517.0,915806.0,915362.0,914302.0,912552.0,912687.0,910695,911996,918035.6667,931701,910695
2,34787,Winter Garden,FL,Orlando-Kissimmee-Sanford,Orange County,301134.0,302905.0,304677.0,306201.0,306948.0,308755.0,309887.0,311189.0,312883.0,314094.0,315892,317213,309314.8333,317213,301134
3,33411,Royal Palm Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Palm Beach County,300033.0,301948.0,303285.0,304672.0,305836.0,307211.0,308614.0,310531.0,313126.0,315361.0,316613,317079,308692.4167,317079,300033
4,33025,Miramar,FL,Miami-Fort Lauderdale-West Palm Beach,Broward County,271593.0,272940.0,274246.0,276996.0,278502.0,279607.0,280771.0,282854.0,285128.0,286760.0,288063,289577,280586.4167,289577,271593

In [16]:
rds_connection_string = "postgres:chubby@localhost:5432/ETL Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [17]:
sfh_df.to_sql(name='zillow_house_value_index', con=engine, if_exists='append', index=False)